<section id="login-page">
    <div class="container p-3 mx-auto w-50 form-box my-5 rounded-md">
        <h2 style="color: #181642" class="text-center mb-3">Login</h2>
        
        <form action="/login" method="post" class="p-2">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="email" class="form-control" placeholder="Enter Your Email" aria-label="Email" aria-describedby="basic-addon1" name="email" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Password</span>
            <input type="password" class="form-control" placeholder="Enter You Password" aria-label="Password" aria-describedby="basic-addon2" name="password" required>
          </div>
        <button type="submit" class="btn btn-color-pink">Login</button>
      </form>
    </div>
  </section>